/*-- scss:defaults --*/
$link-color: #a3c6e7;
$body-color: #d0d4d5;
$code-bg: #222;
$code-color: #89f692;
$font-family-monospace: "Source Code Pro Light";
$font-family-sans-serif:    "Inter:wght@300", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-weight-base: 200 !default;

.normal-form-table td:first-child,
.normal-form-table th:first-child {
  border-right-color: white;
}

.normal-form-table tr.top-border td {
  border-top-color: white;
}

.normal-form-table tr.top-border td:first-child {
  border-top: none;
}

/* Force line color in dark mode */
.normal-form-table td:first-child,
.normal-form-table th:first-child {
  border-right: 1px solid white !important;
}

.normal-form-table tr.top-border td {
  border-top: 1px solid white !important;
}

.normal-form-table tr.top-border td:first-child {
  border-top: none !important;
}

.normal-form-table tr:nth-child(2) td:first-child {
  border-right: none !important;
}

.normal-form-table tr:first-child th:first-child {
  border-right: none !important;
}


.normal-form-table tr:nth-child(2) th:first-child {
  border-right: none !important;
}

