/*-- scss:defaults --*/
$link-color: #2EA8E7;
$code-bg: #FFF;
$code-color: #290;
$font-family-monospace: "Source Code Pro Medium";
$font-family-sans-serif:    "Inter:wght@300", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-weight-base: 400 !default;
